@import '../../../styles/variables.sass'
  
.Home
  height: auto
    
  .jumbotron 
    border-radius: 0px
    background-color: #fff
    height: auto

    >img
      width: 100%

      @media screen and (min-width: $mobile)
        height: 500px